extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.banner
		.owl-carousel.owl-theme
			.item
				img(src="img/banner_img_01.png", alt="", srcset="")
				.title
					h2 Chúng tôi là Fullstack Việt Nam
					p Fullstack Developer là nghề cực hot hiện nay, những lập trình viên Full stack có đầy đủ các kỹ năng tổng hợp
			.item
				img(src="img/banner_img_02.png", alt="", srcset="")
	section.news
		.container
			.row
				.col
					h2.title tin tức
						i
			.row
				.col-lg-4
					a(href="#")
						.item
							figure
								.blocking
									img(src="img/news_img_01.png", alt="")
							ficaption
								.title
									h3 Trung tâm đào tạo IT chuyên nghiệp
									p 18/11/2018
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, blanditiis. Debitis saepe aliquid rem atque. Labore dignissimos similique quisquam odio perspiciatis delectus, tenetur quod ab voluptas, laboriosam laborum aliquam voluptate.
				.col-lg-4
					a(href="#")
						.item
							figure
								.blocking
									img(src="img/news_img_02.png", alt="")
							ficaption
								.title
									h3 Trung tâm đào tạo IT chuyên nghiệp
									p 18/11/2018
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, blanditiis. Debitis saepe aliquid rem atque. Labore dignissimos similique quisquam odio perspiciatis delectus, tenetur quod ab voluptas, laboriosam laborum aliquam voluptate.
				.col-lg-4
					a(href="#")
						.item
							figure
								.blocking
									img(src="img/news_img_03.png", alt="")
							ficaption
								.title
									h3 Trung tâm đào tạo IT chuyên nghiệp
									p 18/11/2018
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, blanditiis. Debitis saepe aliquid rem atque. Labore dignissimos similique quisquam odio perspiciatis delectus, tenetur quod ab voluptas, laboriosam laborum aliquam voluptate.
	section.promo
		.container
			.row
				.col
					h2.title định hướng phát triển
						i 
			.row
				.col-md-3
					a.content(href="#")
						.icon
							i.fa.fa-object-group.fa-5x
						h3 tầm nhìn
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, explicabo quasi velit, itaque deleniti expedita dolorum, ipsa cum distinctio dolorem quos dolor atque repellendus neque. Laboriosam quia harum facere nobis.
				.col-md-3
					a.content(href="#")
						.icon
							i.fa.fa-save.fa-5x
						h3 tầm nhìn
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, explicabo quasi velit, itaque deleniti expedita dolorum, ipsa cum distinctio dolorem quos dolor atque repellendus neque. Laboriosam quia harum facere nobis.
				.col-md-3
					a.content(href="#")
						.icon
							i.fa.fa-copy.fa-5x
						h3 tầm nhìn
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, explicabo quasi velit, itaque deleniti expedita dolorum, ipsa cum distinctio dolorem quos dolor atque repellendus neque. Laboriosam quia harum facere nobis.
				.col-md-3
					a.content(href="#")
						.icon
							i.fa.fa-moon-o.fa-5x
						h3 tầm nhìn
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, explicabo quasi velit, itaque deleniti expedita dolorum, ipsa cum distinctio dolorem quos dolor atque repellendus neque. Laboriosam quia harum facere nobis.
	section.about
		.container
			.row
				.col
					.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum veniam delectus rerum rem tempore aspernatur suscipit, nisi ipsam neque deserunt praesentium facilis quis id incidunt ratione consequuntur aperiam eveniet! Doloremque distinctio amet, fugit sint labore odio. Vitae laudantium, molestias beatae quia ea a. Voluptatibus sed repellendus esse odio, expedita excepturi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores optio repellat explicabo iste consequatur id quis aspernatur hic at aliquid.
					button.btn Xem thêm
	section.orient 
		.container
			.row
				.col
					h2.title#z định hướng phát triển
						i 
			.row
				.col 
					.tabs
						ul#ac
							li.active
								a(href="#z", onclick="filter('all')") Tất cả
							li
								a(href="#z", onclick="filter('group')") Group
							li
								a(href="#z", onclick="filter('thitruong')") Thị trường
							li
								a(href="#z", onclick="filter('tinvit')") Tin vịt
			.row
				.col
					.data-tabs
						.owl-carousel.owl-theme
							.item.all.group
								.blocks
									img(src="img/news_img_01.png", alt="")
							.item.all.thitruong
								.blocks
									img(src="img/news_img_02.png", alt="")
							.item.all.tinvit
								.blocks
									img(src="img/news_img_03.png", alt="")
							.item.all.group
								.blocks
									img(src="img/news_img_01.png", alt="")
							//- .item.all.group
							//- 	.blocks
							//- 		img(src="img/news_img_01.png", alt="")
							//- .item.all.thitruong
							//- 	.blocks
							//- 		img(src="img/news_img_02.png", alt="")
							//- .item.all.thitruong
							//- 	.blocks
							//- 		img(src="img/news_img_02.png", alt="")
							//- .item.all.tinvit
							//- 	.blocks
							//- 		img(src="img/news_img_03.png", alt="")
							//- .item.all.tinvit
							//- 	.blocks
							//- 		img(src="img/news_img_03.png", alt="")
							//- .item.all.thitruong
							//- 	.blocks
							//- 		img(src="img/news_img_02.png", alt="")
							//- .item.all.group
							//- 	.blocks
							//- 		img(src="img/news_img_01.png", alt="")
	section.review
		.container
			.row
				.col
					h2.title khách hàng nói
						i 
			.row
				.col-md-6.offset-md-3
					.avatar
						.owl-carousel.owl-theme
							.item
								figure
									img(src="img/customer_img_01.png", alt="")
								ficaption
									span Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, repellendus. Quos perspiciatis aut deleniti enim explicabo quasi, distinctio, maxime inventore ipsum officiis blanditiis officia unde modi magnam sint fugit eius accusantium.
									h3 Pelican Steve
										span CEO ABC Company
							.item
								figure
									img(src="img/customer_img_01.png", alt="")
								ficaption
									span Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, repellendus. Quos perspiciatis aut deleniti enim explicabo quasi, distinctio, maxime inventore ipsum officiis blanditiis officia unde modi magnam sint fugit eius accusantium.
									h3 Pelican Steve
										span CEO ABC Company
							.item
								figure
									img(src="img/customer_img_01.png", alt="")
								ficaption
									span Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, repellendus. Quos perspiciatis aut deleniti enim explicabo quasi, distinctio, maxime inventore ipsum officiis blanditiis officia unde modi magnam sint fugit eius accusantium.
									h3 Pelican Steve
										span CEO ABC Company
	section.partner
		.container
			.row
				.owl-carousel.owl-theme
					.item
						img(src="img/partner_img_01.png", alt="")
					.item
						img(src="img/partner_img_02.png", alt="")
					.item
						img(src="img/partner_img_03.png", alt="")
					.item
						img(src="img/partner_img_04.png", alt="")
					.item
						img(src="img/partner_img_05.png", alt="")
					.item
						img(src="img/partner_img_06.png", alt="")
