.banner
	margin-bottom: 3rem
	.owl-carousel
		.item
			position: relative
			img
				width: 100%
			.title
				width: 100%
				padding: 3rem .5rem .5rem .5rem
				color: #fff
				text-align: center
				position: absolute
				bottom: 0
				background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1))
				h2
					font-size: 1.5rem
				+media-breakpoint-up(md)
					padding-bottom: 2rem
		.owl-nav
			button.owl-next,
			button.owl-prev
				background: $sen
				color: #fff
				width: 30px
				height: 30px
				i 
					line-height: 30px
					font-size: .8rem
		+media-breakpoint-up(md)
			.owl-nav
				margin: 0
				position: absolute
				top: 50%
				transform: translateY(-50%)
				width: 100%
				button.owl-prev
					opacity: 0
					position: absolute
					left: 0
					transition: .25s all ease-in-out
				button.owl-next
					opacity: 0
					position: absolute
					right: 0
					transition: .25s all ease-in-out
			&:hover
				button.owl-prev
					opacity: 1
				button.owl-next
					opacity: 1
.news
	margin-bottom: 3rem
	h2.title 
		text-align: center
		text-transform: uppercase
		margin: 0
		i
			margin: 1rem auto 1.5rem
			+duong-ke-ngang()
	a
		text-decoration: none
		color: #3e3e3e
		.item
			figure
				.blocking
					img
						width: 100%
		+media-breakpoint-up(md)
			.item
				figure
					.blocking
						position: relative
						&:before
							opacity: 0
							width: 100%
							height: 100%
							content: ''
							display: block
							box-shadow: 0 0 0px 5px $sen inset
							z-index: 5
							position: absolute
							transition: .25s all ease-in-out
						img 
							filter: grayscale(100%)
							transition: .25s all ease-in-out
			&:hover
				figure
					.blocking
						&:before
							opacity: 1
						img 
							filter: grayscale(0%)
.promo
	background-image: url('../img/promo_bg.png')
	padding: 3rem 0
	h2.title
		text-align: center
		text-transform: uppercase
		margin: 0
		i
			margin: 1rem auto 1.5rem
			+duong-ke-ngang()
	.content
		text-decoration: none
		color: #3e3e3e 
		text-align: center
		h3
			font-weight: bold
			text-transform: uppercase
			margin: 2rem 0
		.icon
			margin: 2rem 0
		+media-breakpoint-up(md)
			text-align: left
			&:hover
				.icon
					i
						transition: .25s all ease-in-out
						color: $sen
.about
	text-align: center
	padding-bottom: 3rem
	background: url('../img/about_bg.png') center center
	color: #fff 
	.title
		width: 100%
		padding: 3rem
	.btn
		background: $sen 
		color: #fff 
		padding: 0.7rem 4rem
		border-radius: 3rem
+media-breakpoint-up(md)
	.about
		padding: 4rem

.orient,
.review
	padding: 3rem 0
	h2.title
		text-align: center
		text-transform: uppercase
		i 
			margin: 1rem auto 1.5rem
			+duong-ke-ngang()
.orient
	.tabs
		ul
			padding: 0
			margin: 0
			text-align: center
			list-style-type: none
			li
				display: inline-block
				padding: 0.5rem 1rem
				border-radius: 2rem
				a 
					text-decoration: none
					color: #000 
				&.active,
				&:hover
					background: $sen
					a
						color: #fff 
	.data-tabs 
		margin-top: 1.5rem
		.item 
			margin: 0 1rem
		+media-breakpoint-up(md)
			.item
				.blocks
					position: relative
					&:before
						opacity: 0
						width: 100%
						height: 100%
						content: ''
						display: block
						box-shadow: 0 0 0px 5px $sen inset
						z-index: 5
						position: absolute
						transition: .25s all ease-in-out
					img 
						filter: grayscale(100%)
						transition: .25s all ease-in-out
				&:hover
					.blocks
						&:before
							opacity: 1
						img 
							filter: grayscale(0%)
.review
	background-image: url('../img/promo_bg.png')
	.avatar
		text-align: center
		.owl-carousel
			.item
				text-align: center
				figure
					img 
						margin: 2rem auto
						width: 50%
						border: 5px solid $sen
						border-radius: 50%
				ficaption
					h3
						margin-top: 2rem
						color: $sen 
						span 
							display: block
							color: #000 
							font-size: 1.5rem
			.owl-nav
				button.owl-prev,
				button.owl-next
					width: 30px
					height: 30px
					background: $sen
					color: #fff 
					display: inline-flex
					align-items: center
					justify-content: center
			.owl-dots
				.owl-dot
					&.active,
					&:hover
						span
							background: $sen


