=duong-ke-ngang()
	display: block
	position: relative
	width: 100px
	height: 4px
	background: $sen
	&:before,
	&:after
		display: block
		content: ''
	&:before
		width: 20px
		height: 20px
		border: 4px solid $sen
		border-radius: 50%
		position: absolute
		left: 40px
		top: -10px
		background: #fff
